* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  font-family: "Poppins", sans-serif;
  margin: 0 3%;
}

body {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
}

/*------INDEX PAGE------*/

/* Profile Header Container */
.profile-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4%;
}

/* Header Line for logo and hamburger meny */
.header-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 1rem 0;
}

/* Logo Styling */
.profile-logo {
  font-size: 1.2rem;
}

.profile-logo a {
  display: flex;
  flex-direction: column;
  text-decoration: none;
  background: var(--logo-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

/* Hamburger Menu Styling */
.hamburger-meny {
  align-items: center;
}

.hamburger-meny i {
  font-size: 2.1rem;
  color: var(--hamburger-meny);
}

/* Navigation Menu */
.profile-meny {
  font-size: 1.5rem;
}

.profile-meny ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.profile-meny a {
  text-decoration: none;
  color: var(--anchor-links-mobile);
  font-weight: 500;
}

/* Social Media part */
.profile-social-media {
  align-items: center;
  margin-top: 3rem;
}

.profile-social-media ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 0 7rem;
}

.profile-social-media i {
  font-size: 2rem;
  color: white;
  background-color: var(--anchor-links-mobile);
  padding: 15%;
  border-radius: 50%;
}

/*Profile main section*/
.profile-main {
  margin: 7rem 0;
}

.profile-main p {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-color);
}

.highlight {
  background: var(--highlight-color);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-picture > img {
  height: 300px;
  width: 300px;
  object-fit: cover;
  margin-top: 2rem;
}

.img-border {
  background-image: var(--background-border);
  padding: 1.3%;
  border-radius: 50%;
}
/*--------ABOUT PAGE--------*/

.about-main {
  height: auto;
  margin: 10% 0;
  flex-wrap: nowrap;
}

/* ------About section-----*/

#work_experiences {
  display: flex;
  flex-direction: column;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 3%;
  font-weight: 700;
}

.about p {
  color: var(--p-color);
  margin-bottom: 5%;
  font-weight: 400;
}

/* ------ Work section-----*/
.employment {
  line-height: 1.5rem;
}

.employment h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

.work {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.work-name {
  color: var(--p-color);
  font-weight: 400;
  font-size: 1rem;
}

.company-name {
  color: var(--p-light-color);
  margin-top: 1rem;
  font-weight: 300;
}

.company-location {
  color: var(--p-light-color);
  margin-bottom: 30px;
  font-weight: 300;
}

.work-type {
  background-color: var(--btn-background);
  color: var(--btn-text);
  padding: 1.3%;
  border-radius: 15px;
}

div.work-length p {
  text-align: center;
  width: auto;
}

.employment-length {
  margin-top: 1rem;
  color: var(--p-light-color);
  font-weight: 300;
}

/*------Education section------*/

.education {
  line-height: 1.5rem;
}

.education h2 {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 1.8rem;
}

article.education {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid var(--border-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.education-name {
  color: var(--p-color);
  font-weight: 400;
  font-size: 1rem;
}
.school-name {
  color: var(--p-light-color);
  margin-top: 1rem;
  font-weight: 300;
}

.school-location {
  color: var(--p-light-color);
  margin-bottom: 30px;
  font-weight: 300;
}
.school-length {
  color: var(--p-light-color);
  font-weight: 300;
}
.education-type {
  background-color: var(--btn-background);
  color: var(--btn-text);
  padding: 1%;
  width: auto;
  border-radius: 15px;
  text-align: center;
}
.education-length {
  margin-top: 1rem;
  color: var(--p-light-color);
}

/*---------- Interests modul ----------*/

.modal-container {
  background-color: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* z-index: 1000; */
}

.modal {
  background: linear-gradient(to right, var(--btn-background) 50%, #1e90ff 90%);
  padding: 20px;
  color: black;
  border-radius: 8px;
  /* width: 80%; */
  max-width: 500px;
  text-align: center;
}

#open {
  position: relative;
  margin: 0;
  background: linear-gradient(to right, var(--btn-background) 70%, #1e90ff 90%);
  padding: 10px 20px;
  border: 0;
  border-radius: 15px 15px;
  cursor: pointer;
}
#open:hover {
  color: gray;
}

#close {
  position: relative;
  margin: 0;
  background: linear-gradient(to left, var(--btn-background) 50%, #1e90ff 90%);
  padding: 10px 20px;
  border: 0;
  border-radius: 15px 15px;
  cursor: pointer;
  margin-top: 3%;
}
#close:hover {
  color: gray;
}

/*----------About me content----------*/

#about-content {
  display: none;
}

#about-title {
  cursor: pointer;
}
#about-title:hover {
  color: rgb(183, 21, 223);
}
